/** @format */

@import "./styles/InputField.scss";
@import "./styles/Navbar.scss";
@import "./styles/MainPage.scss";
@import "./styles/ShopPage.scss";
@import "./styles/FilterTab.scss";
@import "./styles/Shop.scss";
@import "./styles/Contact.scss";
@import "./styles/DetailPage.scss";
@import "./styles/Loader.scss";
@import "./styles/RatingStars.scss";
@import "./styles/Carousel.scss";
@import "./styles/LoginRegister.scss";
@import "./styles/Modal.scss";
@import "./styles/ShopingCart.scss";
@import "./styles/ChangePrice.scss";

html {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
